---
import CategoryTabs from './CategoryTabs.astro'
import SuggestionBlock from './SuggestionBlock.astro'
import EntryList from './EntryList.astro'

---
<section class="px-6 py-8 space-y-10">
  {/* 分类标签切换 */}
  <CategoryTabs categories={['建筑', '风俗', '饮食', '生活', '礼仪']} />

  {/* 推荐词条/内容 */}
  <SuggestionBlock />

  {/* 词条列表 */}
  <EntryList />


</section>
// 人文与历史主视图（HistoryView）主界面